{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" style="text-align: center; display: block; margin-left: auto; margin-right: auto;">
          <span class="section-heading-upper">Sabores que despiertan emociones</span><br>
          <span class="section-heading-lower">Lo amarás</span>
        </h2>
        <p class="mb-3" style="text-align: justify;">
            En Neko Cream, cada helado y bebida es una pequeña obra de arte.
            Combina texturas, colores y sabores que encantan a grandes y pequeños.
            No es solo un postre… ¡es un momento para disfrutar, sonreír y volver a soñar!
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="store">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Auténtico</span>
          </h2>
          <p class="mb-0" style="text-align: justify;">Sumérgete en un mundo de dulzura y color. En Neko Cream, cada sabor es una historia y cada textura una experiencia. Elaboramos nuestros helados y bebidas con dedicación, calidad y un toque de fantasía para hacer de cada visita un momento inolvidable. Ven a descubrir lo delicioso que puede ser soñar en cada cucharada.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}